@page "/fetchdatanulltemplate"
@using Blazm.Components
@using SampleServerSide.Data
@inject WeatherForecastService ForecastService

<style>
    th {
        white-space: nowrap;
    }
</style>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>


    <h2>BlazmGrid</h2>
    <BlazmGrid Data="forecasts" PageSize="10" Sortable="true" SortField="@nameof(WeatherForecast.Date)" ShowFooter="true">
        <NullGridTemplate>
            Loading...
        </NullGridTemplate>
        <GridColumns>
            <GridColumn Field="@nameof(WeatherForecast.Date)" Format="{0:d}" Priority="3" />
            <GridColumn Field="@nameof(WeatherForecast.TemperatureC)" HighlightSign="true" Priority="1" Class="alignRight">
                <FooterTemplate>
                    @{
                        var temp = context as List<WeatherForecast>;
                    }
                    @temp.Sum(t => t.TemperatureC)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.TemperatureF)" Priority="2" Class="alignRight">
                <FooterTemplate>
                    @{
                        var temp = context as List<WeatherForecast>;
                    }
                    @temp.Sum(t => t.TemperatureF)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.Summary)" Priority="0" />
        </GridColumns>
    </BlazmGrid>

    <h2>BlazmGrid grouped</h2>
    <BlazmGrid @ref="GroupedGrid" GroupBy="d=>d.Summary" Data="forecasts" PageSize="10" Sortable="true" SortField="@nameof(WeatherForecast.Date)" ShowFooter="true" ShowGroupFooter="true">
        <NullGridTemplate>
            Loading...
        </NullGridTemplate>
        <GroupHeader>
            <h5>@context</h5>
        </GroupHeader>
        <GridColumns>
            <GridColumn Field="@nameof(WeatherForecast.Date)" Format="{0:d}" Priority="3" />
            <GridColumn Field="@nameof(WeatherForecast.TemperatureC)" HighlightSign="true" Priority="1" Class="alignRight">
                <FooterTemplate>
                    @{
                        var temp = context as List<WeatherForecast>;
                    }
                    @temp.Sum(t => t.TemperatureC)
                </FooterTemplate>

                <GroupFooterTemplate>
                    @{ //Context contains all the WeatherForecast within the group
                        var temp = context as List<WeatherForecast>;
                    }
                    @temp.Sum(t => t.TemperatureC)
                </GroupFooterTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.TemperatureF)" Priority="2" Class="alignRight">
                <FooterTemplate>
                    @{
                        var temp = context as List<WeatherForecast>;
                    }
                    @temp.Sum(t => t.TemperatureF)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.Summary)" Priority="0" />
        </GridColumns>
    </BlazmGrid>

@code {
    private WeatherForecast[] forecasts;
    private BlazmGrid<WeatherForecast> GroupedGrid;
    protected override void OnInitialized()
    {
        forecasts = null; 
    }
}
