@page "/griddatacolumnnorows"
@using Blazm.Components
@using BlazmWebAssemblyDemo.Data
@inject WeatherForecastService ForecastService

<style>
    th {
        white-space: nowrap;
    }
</style>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>BlazmGrid - Data Column</h2>
    <button class="btn btn-success" @onclick="@(async ()=> { await MyGrid.ExportDataAsync("Weather.xlsx","Export","yyyy-mm-dd"); })">Export data to Excel</button>
    <BlazmGrid @ref="MyGrid" Data="forecasts" PageSize="10" Sortable="true" SortField="@nameof(WeatherForecast.Date)" ShowFooter="true">
        <EmptyGridTemplate>
            No data found
        </EmptyGridTemplate>
        <GridColumns>
            <GridColumn Field="@nameof(WeatherForecast.Date)" Format="{0:d}" Priority="3" />
            <GridColumn Field="@nameof(WeatherForecast.TemperatureC)" HighlightSign="true" Priority="1" Class="alignRight">
                <FooterTemplate>
                    @{
                        var temp = context as List<WeatherForecast>;
                    }
                    @temp.Sum(t => t.TemperatureC)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.TemperatureF)" Priority="2" Class="alignRight">
                <FooterTemplate>
                    @{
                        var temp = context as List<WeatherForecast>;
                    }
                    @temp.Sum(t => t.TemperatureF)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.Summary)" Priority="0" />
            <GridColumn Field="@nameof(WeatherForecast.NullValue)"/>
            <GridColumn Exportable="false">
                <Template>
                    @{
                        var item = context as WeatherForecast;
                    }
                    <button class="btn btn-danger" @onclick="@(() => { Delete(item); })"><i class="far fa-trash-alt"></i></button>
                </Template>
            </GridColumn>
        </GridColumns>

    </BlazmGrid>
}

@code {
    private List<WeatherForecast> forecasts;
    private BlazmGrid<WeatherForecast> MyGrid;

    protected override void OnInitialized()
    {
        Load();
    }

    protected void Delete(WeatherForecast item)
    {
        forecasts.Remove(item);
    }

    protected void Load(DateTime? date = null)
    {
        forecasts = new List<WeatherForecast>() ;
    }
}
