@typeparam TItem
@namespace Blazm.Components

<CascadingValue Value="ContainerGrid">
    <tr @key="Row" class="@(ContainerGrid.Columns.Any(c => !c.Visible) || (ContainerGrid.DetailTemplate != null && ContainerGrid.ShowDetails) ? "expandable" : "") @(ContainerGrid.RowCss!=null?ContainerGrid.RowCss(Row):"")">
        @if (ContainerGrid.Columns.Any(c => !c.Visible) || ContainerGrid.ShowCheckbox || (ContainerGrid.DetailTemplate != null && ContainerGrid.ShowDetails))
        {

            @if (ContainerGrid.Columns.Any(c => !c.Visible) || (ContainerGrid.DetailTemplate != null && ContainerGrid.ShowDetails))
                {
                if (ContainerGrid.RowShowDetails != null && !ContainerGrid.RowShowDetails(Row))
                {
                   <td></td> 
                }
                else
                {
                    <td @onclick="@(() => { if (ContainerGrid.ExpandedRows.Contains(Row.GetHashCode())) { ContainerGrid.ExpandedRows.Remove(Row.GetHashCode()); } else { ContainerGrid.ExpandedRows.Add(Row.GetHashCode()); } })">
                    @if (ContainerGrid.ExpandedRows.Contains(Row.GetHashCode()))
                    {
                        @ContainerGrid.ExpandedTemplate
                    }
                    else
                    {
                        @ContainerGrid.CollapsedTemplate
                    }
                    </td>
                    }
                }

                
                @if (ContainerGrid.ShowCheckbox)
                {
                    <td @onclick="async eventArgs => { await ContainerGrid.SelectItemAsync(Row, !ContainerGrid.IsItemSelected(Row)); }">
                        <input type="checkbox" checked="@(ContainerGrid.IsItemSelected(Row))" @onchange="async eventArgs => { await ContainerGrid.SelectItemAsync(Row, eventArgs.Value); }" />
                    </td>
                }
        }
        @foreach (var column in ContainerGrid.Columns)
        {
            if (column.Template == null)
            {
                string stringValue = "";

                if (column.Format == null)
                {
                    stringValue = TypeDescriptor.GetProperties(Row)[column.Field].GetValue(Row)?.ToString();
                }
                else
                {
                    stringValue = string.Format(column.Format, TypeDescriptor.GetProperties(Row)[column.Field].GetValue(Row));
                }
                <td class="@column.Class @ContainerGrid.GetSignClass(column, stringValue) @column.DataClass" @onclick="@(() => { if (ContainerGrid.ExpandedRows.Contains(Row.GetHashCode())) { ContainerGrid.ExpandedRows.Remove(Row.GetHashCode()); } else { ContainerGrid.ExpandedRows.Add(Row.GetHashCode()); } })">@stringValue</td>
            }
            else
            {
                <td class="@column.Class @column.DataClass" @onclick="@(() => { if (ContainerGrid.ExpandedRows.Contains(Row.GetHashCode())) { ContainerGrid.ExpandedRows.Remove(Row.GetHashCode()); } else { ContainerGrid.ExpandedRows.Add(Row.GetHashCode()); } })">@column.Template(Row)</td>
            }
        }
    </tr>
    <HiddenRows Row="@Row"></HiddenRows>
</CascadingValue>
@code {

    [CascadingParameter]
    public BlazmGrid<TItem> ContainerGrid { get; set; } = default!;
    [Parameter]
    public TItem? Row { get; set; } = default!;

}
